@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html{
  overflow-y: auto;
}

* {
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 0 !important;
}

.position_top-50{
  top: 50% !important
}

.fs-17{
  font-size: 30px !important;
}

//article
.article__content{
  line-height: 1.6;
  code{
    background-color: #272727;
    color: white;
    padding: 10px;
    width: 70%;
    font-weight: normal;
    &::before{
      content: "";
    }
  }
}

//right utilities widget
.utilities {
  padding: 0 !important;
  border: 1px solid #d6d3d3 !important;
  border-right: none !important;
  border-radius: 0 !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  -webkit-box-shadow: 4px 10px 20px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 10px 20px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 10px 20px -1px rgba(0, 0, 0, 0.4);
}

//Confirm dialog
.confirm-dialog{
  height: 200px;
  background-position: 0 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23E4ECEE' fill-opacity='1' d='M0,0L60,53.3C120,107,240,213,360,240C480,267,600,213,720,202.7C840,192,960,224,1080,218.7C1200,213,1320,171,1380,149.3L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
}

//ql-editor
.ql-editor{
  line-height: 1.6 !important;
  font-size: 15px !important;
  color: black;
  height: 30vh;
}

//fr
.fr-popup{
  z-index: 999 !important;
}

.fr-box.fr-basic .fr-element {
  font-size: 16px !important;
  padding: 20px 30px !important;
}