@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html {
  overflow-y: auto;
}

* {
  font-family: "Roboto", sans-serif;
}

p {
  margin-bottom: 0 !important;
}

.position_top-50 {
  top: 50% !important;
}

.w-100 {
  width: 100% !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-35 {
  font-size: 35px !important;
}

//article
.article__content {
  line-height: 1.6;
  code {
    background-color: #272727;
    color: white;
    padding: 10px;
    width: 70%;
    font-weight: normal;
    &::before {
      content: "";
    }
  }
}

//right utilities widget
.utilities {
  padding: 0 !important;
  border: 1px solid #d6d3d3 !important;
  border-right: none !important;
  border-radius: 0 !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  -webkit-box-shadow: 4px 10px 20px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 10px 20px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 10px 20px -1px rgba(0, 0, 0, 0.4);
}

//ql-editor
.ql-editor {
  line-height: 1.6 !important;
  font-size: 15px !important;
  color: black;
  height: 30vh;
}

//fr
.fr-popup {
  z-index: 999 !important;
}

.fr-box.fr-basic .fr-element {
  font-size: 16px !important;
  padding: 20px 30px !important;
}

.linear-gradient_text_1 {
  background: linear-gradient(to right, #30CFD0 0%, #330867 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linear-gradient_text_2 {
  background: linear-gradient(to right, #FFAE68 0%, #FBEB6C 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linear-gradient_1 {
  background-image: linear-gradient(to right, #1171b8, #0094d2, #00b8e3, #00daed, #5ffbf1);
}

.linear-gradient_2 {
  background-image: linear-gradient(to right top, #ffae68, #ffbc66, #ffcc65, #ffdb67, #fbeb6c);
}

.v-dialog{
  padding-top: 50px !important;
  border: none !important;
  box-shadow: none !important;
}

.v-dialog--fullscreen{
  margin-top: -50px !important;
  min-height: 120vh !important;
}

.fr-wrapper{
  .fr-view{
    max-height: 55vh;
  }
}